# ignore shared dir
shared/*

# do not ignore Snakefile and config
!shared/Snakefile
!shared/config.yaml
!shared/code
!shared/envs

# ignore all data folders
**/data

# ignore cache and figures folder
**/cache
**/figures

# ignore all log files
*.log*

# ignore all snakemake files
*.snakemake

# ignore all html files, as they are generated dynamically
*.html

*.sqlite
