# ignore shared dir
shared/*

# do not ignore Snakefile and config
!shared/Snakefile
!shared/config.yaml
!shared/code

# ignore read and alignment data
michela/m6a/data
nagarjuna/rfp/data

# ignore all log files
*.log*

# ignore all snakemake files
*.snakemake

